<div class="container content">
  <div class="section headline">
    <div class="row">
      <div class="col-md-6">
        <h1>Conquer your cash flow.</h1>
        <br>
        <p class="home">Wefactoryou gives you $5,000 - $50,000,000 in affordable working capital by advancing your money trapped in unpaid invoices.</p> 
      </div>
      <div class="col-md-6"></div>
    </div>  
  </div>
  <div class="section callout">
    <div class="row">
      <div class="col-md-4">
        <p class="text-center">Credit lines up to</p>
        <h3 class="text-center"><strong>$50 million</strong></h3>
      </div>
      <div class="col-md-4">
        <p class="text-center">Rates as low as</p>
        <h3 class="text-center"><strong>4.8%</strong></h3>
      </div>
      <div class="col-md-4">
        <p class="text-center">Approvals as fast as</p>
        <h3 class="text-center"><strong>20 minutes</strong></h3>
      </div>
    </div>  
  </div>
  <div class="section header">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">Fast Working Capital Made Simple</h2>
        <br>
        <p>A bank line of credit is limiting and hard to get, and most online lenders cost a fortune. With Wefactoryou's online invoice factoring, inventory, and PO financing you get the working capital you need without taking on debt.</p>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-4 text-center">
        <h2 class="text-primary"><i class="fas fa-dollar-sign"></i></h2>
        <h3><strong>Lines of credit from $5,000 - $50 million</strong></h3>  
        <p>Our scalable capital can fund your business at every stage of growth.</p>
      </div>
      <div class="col-md-4 text-center">
        <h2 class="text-primary"><i class="fas fa-coins"></i></h2>
        <h3><strong>Leading rates from 1-2% of total advance</strong></h3> 
        <p>Our industry-low rates are crafted in partnership with leading US banks.</p>
      </div>
      <div class="col-md-4 text-center">
        <h2 class="text-primary"><i class="fas fa-check"></i></h2>
        <h3><strong>Won't burden you with debt, like a loan</strong></h3> 
        <p>Fund your business with money you’ve already earned, not burdening debt.</p>
      </div>
    </div> 
  </div> 
  <div class="section callout">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">We can fund nearly every B2B business, regardless of age, size or credit.</h2> 
      </div>
      <br>
      <br>
      <div class="row">
        <div class="col-md-4 facts">
          <h2 class="text-primary text-center"><i class="far fa-check-square"></i></h2> 
          <h5 class="text-center">FROM STARTUPS TO FORTUNE 500 COMPANIES</h5>
        </div>
        <div class="col-md-4 facts">
          <h2 class="text-primary text-center"><i class="far fa-check-square"></i></h2> 
          <h5 class="text-center">GOOD OR BAD CREDIT</h5> 
        </div>
        <div class="col-md-4 facts">
          <h2 class="text-primary text-center"><i class="far fa-check-square"></i></h2>
          <h5 class="text-center">ALL INDUSTRIES, EXCEPT CONSTRUCTION</h5>  
        </div> 
      </div>
      <div class="row">
        <div class="col-md-4 facts">
          <h2 class="text-primary text-center"><i class="far fa-check-square"></i></h2> 
          <h5 class="text-center">PROFITABLE OR NOT</h5> 
        </div>
        <div class="col-md-4 facts">
          <h2 class="text-primary text-center"><i class="far fa-check-square"></i></h2>  
          <h5 class="text-center">ZERO TO DECADES OF OPERATING HISTORY</h5>
        </div>
        <div class="col-md-4 facts">
          <h2 class="text-primary text-center"><i class="far fa-check-square"></i></h2> 
          <h5 class="text-center">SLOW OR RAPID GROWTH</h5> 
        </div> 
      </div>
    </div>
  </div> 
  <div class="section header">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">Get peace of mind when you partner with Wefactoryou</h2>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-4 text-center">
        <h2 class="text-blue"><i class="fas fa-file-invoice-dollar"></i></h2>
        <h3><strong>Easy to get started</strong></h3>  
        <p>Wefactoryou makes business funding quick and painless. Apply online and get approved in as fast as 20 minutes.</p>
      </div>
      <div class="col-md-4 text-center">
        <h2 class="text-blue"><i class="fas fa-sync-alt"></i></h2>
        <h3><strong>Flexible by design</strong></h3> 
        <p>Use your available credit line when you want, for any business need. Enjoy no long-term contracts or prepayment fees.</p>
      </div>
      <div class="col-md-4 text-center">
        <h2 class="text-blue"><i class="fas fa-headset"></i></h2>
        <h3><strong>Dedicated advisors</strong></h3> 
        <p>Our advisors are available to walk you through the process and help you obtain the funds you need.</p>
      </div>
    </div>  
  </div>
</div>
 
