<div class="container content">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h5 class="text-center"><strong>HOW WEFACTORYOU FINANCING WORKS</strong></h5> 
    </div> 
  </div>
      
 <br><br>
 
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="header-medium text-center">Upload your invoices.</h1>
      <h1 class="header-medium text-center">Download your money.</h1>  
    </div>
  </div>
 
 <br><br>
 
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="text-center">Our online invoice factoring makes it incredibly easy to finance your Net 30+ invoices and boost your cash flow on-demand. In addition to Accounts Receivable Financing, we offer Purchase Order Financing, Inventory Financing, Equipment Financing, and more.</p> 
    </div>
  </div>
 
  <br>
 
  <div class="vl"></div>
  
  <br>
 
  <div class="row">
     <div class="col-md-4 col-md-offset-4">
       <h1 class="header-medium text-center">1</h1>
       <h3 class="list text-center">Create free account</h3> 
       <br>
       <p class="text-center">Fill out our 5-minute online application and you’re on your way. We'll approve you for funding in 24 hours or less.</p>
     </div>  
   </div>
 
 
  <br>
 
  <div class="vl"></div>
  
  <br>
 
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1 class="header-medium text-center">2</h1>
      <h3 class="list text-center">Upload unpaid invoices</h3> 
      <br>
      <p class="text-center">We’ll review and approve your submitted invoices within 1-business day.</p>
    </div>  
  </div>
 
  <br>
 
  <div class="vl"></div>
  
  <br>
 
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1 class="header-medium text-center">3</h1>
      <h3 class="list text-center">Get your money within 24 hours</h3> 
      <br>
      <p class="text-center">We'll deposit up to 90% of the total amount into your bank account, and the remaining 10% once the invoices are paid.</p>
    </div>  
  </div>
  
  <br>
 
  <div class="vl"></div>
  
  <br>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="header-small text-center">Then track and manage all your invoices in one place.</h1>  
    </div>
  </div>
  
  <br>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p class="text-center">View the collection status of your current and past invoices—all from a single online dashboard.</p>  
    </div>
  </div>
  
  <br><br>
  
  <div class="section">
    <div class="row">
      <div class="col-md-4">
        <span><h3><i class="fas fa-arrow-right text-primary">&emsp;</i><strong>We chase down and collect overdue payments</strong></h3></span> 
        <br>
        <p>We track your overdue invoices and take care of all your collections—for free—so you don’t have to sweat it.</p>
      </div>
      <div class="col-md-4">
        <span><h3><i class="fas fa-arrow-right text-primary">&emsp;</i><strong>We get your bigger customers to pay faster</strong></h3></span> 
        <br>
        <p>Businesses that manage their account receivables through LSQ get paid an average of 6 days faster.</p>
      </div>
      <div class="col-md-4">
        <span><h3><i class="fas fa-arrow-right text-primary">&emsp;</i><strong>We warn you in advance of risky customer activity.</strong></h3></span> 
        <br>
        <p>We run daily credit checks on your customers and warn you in advance if they might not be able to pay.</p>
      </div>
    </div>
  </div>
</div>