<div class="container content">
  <div class="terms">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <br>
        <aside class="visible-md visible-lg">
          <ul class="about no-bullet">
            <li class="sidebar-item"><p><%= link_to "Terms of Use", terms_path %></p></li>
            <li class="sidebar-item"><p><%= link_to "Privacy Policy", privacy_path, class: "sidebar-link active" %></p></li>
          </ul>
        </aside>
      </div>
      <div class="col-md-8">
        <h2 class="visible-md visible-lg">Privacy Policy</h2>
        <h2 class="visible-xs visible-sm">Privacy Policy</h2>

        <hr>
        <br>
        
        <p>Wefactoryou Capital Inc. (“Wefactoryou” or “We”) is serious about protecting the privacy of your personal information. We have put strict policies into place to ensure that the privacy of your personal information is protected while still enabling you to make use of the website (the “Site”) or the services provided by Wefactoryou (the “Services”). We use information collected about you through the use of the Services or on the Site solely for the purposes set out in this policy. The terms of this policy may be updated from time to time, so please check our website or this page occasionally for updates. The terms of this policy are also incorporated into the Wefactoryou Terms of Use and Registration Terms.</p>
        
        <br><br>
        
        <h5><strong>What information do we collect?</strong></h5>
        
        <br><br>
        
        <p>We collect information from you when you register for our service. This information includes, but is not limited to, your name, e-mail address, mailing address, phone number, social security number and bank account information. We also collect information regarding our transactions and experiences with you, including your payment history. We may also collect information from third-parties’ websites or applications as specified in this policy below. You may, however, visit our site anonymously.</p>
        
        <br><br>
        
        <h5><strong>What do we do with the information we collect?</strong></h5>
        
        <br><br>
        
        <p>Any of the information we collect from you may be used in one of the following manners:</p>
        
        <br>
        
        <ul type="square">
          <li>To compile, save, use and analyze your information in both a personally-identifiable form and an aggregated, non-personally identifiable form;</li>
          <br>
          <li>To operate, maintain, improve and provide to you our Services, conducting our business and processing transactions;</li>
          <br>
          <li>To verify your identity;</li>
          <br>
          <li>To register you as a user and identify you when you sign in to your account;</li>
          <br>
          <li>To conduct background checks and determine your eligibility for funding;</li>
          <br>
          <li>If you are approved for funding, to process, service and collect your financing transaction;</li>
          <br>
          <li>To personalize your experience and improve customer service (your information helps us to better respond to your individual needs, your service requests, to send marketing communications and send account update notifications);</li>
          <br>
          <li>To develop and improve our website (we continually strive to improve our website offerings based on the information and feedback we receive from you);</li>
        </ul>
        
        <br><br>
        
        <p>We will share your Personal Information with third parties only in the ways that are described in the policy.</p>
        
        <br><br>
        
        <h5><strong>Security or how do we protect your information?</strong></h5>
        
        <br><br>
        
        <p>We take security very seriously and have developed a comprehensive set of practices, technologies and policies to help ensure your data is secure. We make it a priority to take our users’ security and privacy concerns seriously. We use some of the most advanced technology for Internet security that is commercially available today.</p>
        
        <br>
        
        <p>We implement a variety of security measures to maintain the safety of your personal information when using the Site, enter, submit, or access your personal information. We offer the use of a secure server. All of our communications and processing occur through Secure Socket Layers (SSL) technology, using SSL encryption to ensure the security of all information and then save into our secure database only to be accessible by those authorized with special access rights to such systems, and are required to keep the information confidential.</p>
        
        <br>
        
        <p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online. We also use the services of a leading companies to process all financial transactions.</p>
        
        <br>
        
        <p>While we strive to protect your personal information, Wefactoryou cannot ensure or warrant the security of any data or content you transmit to us, and you do so at your own risk. In the event of a breach of the security of your personally identifiable information, we will, to the extent required by law, notify you so you can take appropriate protective steps and to inform you of the steps that Wefactoryou is taking with respect to such breach.</p>
        
        <br><br>
        
        <h5><strong>Do we use cookies?</strong></h5>
        
        <br><br>
        
        <p>We use tracking technology (cookies), which help us make our website more user-friendly, efficient, and secure. Cookies are small text files that are stored on your PC and used by your browser. Most of the cookies we use are session cookies, which are deleted automatically at the end of your visit. Cookies will not harm your PC and do not contain any viruses. Nevertheless, if you do not want to use cookies, this will not prevent you from accessing the Site in any way. Your browser can be configured so that cookies can be accepted with your permission or completely blocked.</p>
        
        <br><br>
        
        <h5><strong>Do we disclose any information to outside parties?</strong></h5>
        
        <br><br>
        
        <p>We will provide your information to our trusted business partners who assist us in operating the Site, conducting our business (including partners referring you to us), or servicing your account, so long as those parties agree to keep this information confidential. We also may disclose your information to third parties to whom we may refer you or your inquiry or application for financing or other services. In addition, we may disclose our transactions and experiences with you to credit bureaus.</p>
        
        <br><br>
        
        <p>We may also disclose your information:</p>
        
        <br>
        
        <ul type="square">
          <li>As required by law, such as to comply with a subpoena, judicial or administrative order and/or any similar legal process;</li>
          <br>
          <li>When we believe in good faith that disclosure is necessary to (i) protect our rights or the rights of third parties (ii) to protect our property and safety or the property and safety of others, or (iii) investigate fraud or respond to a request from a governmental entity;</li>
          <br>
          <li>If Wefactoryou is involved in a merger, acquisition, transfer, auction (including in a bankruptcy proceeding) or sale of all or substantially all of its assets or equity, in connection with such a transaction;</li>
          <br>
          <li>Non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</li>
          <br>
          <li>To collection agencies, credit bureaus and fraud prevention agencies;</li>
          <br>
          <li>To any other third party with your prior consent to do so.</li>
        </ul>
        
        <br><br>
        
        <h5><strong>Using Third Party Services and Data Retention</strong></h5>
        
        <br><br>
        
        <p>You allow us to receive information when you use the Services to log in to a third-party website or application (e.g. Facebook, Twitter or LinkedIn) (the “Third Parties Platform”). Please note that we retain the information we receive from your personal profile on the Third Parties Platform while you are logged-in to the Services and even after you have logged-out from the Services if such retention is reasonably necessary to enforce this policy and our Terms of Use, in our sole discretion.</p>
        
        <br><br>
        
        <h5><strong>DMV Information</strong></h5>
        
        <br><br>
        
        <p>We may collect information about you from state departments of motor vehicles (“DMVs”) for use in the normal course of business to verify the accuracy of information you may submit to us. We may redisclose such DMV information only for a permitted use, including for collection purposes.</p>
        
        <br><br>
        
        <h5><strong>Governing Law</strong></h5>
        
        <br><br>
        
        <p>You agree that this policy is governed by the laws of the State of California without regard to conflict of laws hereof.</p>
        
        <br><br>
        
        <h5><strong>Your Consent</strong></h5>
        
        <br><br>
        
        <p>By using the Site, you consent to our website’s policy.</p>
        
        <br><br>
        
        <h5><strong>Changes to our Privacy and Security Policy</strong></h5>
        
        <br><br>
        
        <p>If we decide to change our policy, we will post those changes on this page, and in such event your continued use of the Site, shall constitute your acceptance of such updated policy.</p>
        
        <br>
        <br>
        <br>
        <br>
        
        <p>This Privacy and Security Policy is Effective as of: July 16, 2018.</p>
        
      </div>
    </div>
  </div>
</div>