<div class="container content">
  <div class="terms">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3">
        <br>
        <aside class="visible-md visible-lg">
          <ul class="about no-bullet">
            <li class="sidebar-item"><p><%= link_to "Terms of Service", terms_path, class: "sidebar-link active" %></p></li>
            <li class="sidebar-item"><p><%= link_to "Privacy Policy", privacy_path %></p></li>
          </ul>
        </aside>
      </div>
      <div class="col-md-8">
        <h2 class="visible-md visible-lg">Terms of Use</h2>
        <h2 class="visible-xs visible-sm">Terms of Use</h2>

        <hr>
        
        <h4><strong>Introduction</strong></h4>
        
        <p>Welcome to www.wefactoryou.com, a website designed to provide you information and access to the services provided by Wefactoryou Funding Group, L.C. (“Wefactoryou”), Wefactoryou.com, and all associated mobile device applications, and other elements thereof, and all code incorporated therein (collectively, the “Wefactoryou Site”), including all services, features, content, promotions and other offerings (collectively, the “Wefactoryou Services”) of Wefactoryou, its affiliates and subsidiaries operated by Wefactoryou (“we”, “us”, “our”, or “Wefactoryou”).</p>
        
        <br>
        
        <h4><strong>Acknowledgment and Acceptance of Terms</strong></h4>
        
        <p>Your access to and use of the Wefactoryou Site and Wefactoryou Services are subject to federal, state, and local laws as well as the terms and conditions set forth herein and the terms and policies of Wefactoryou, which are incorporated herein by reference (“Terms”). By using the Wefactoryou Site in any manner and regardless of how you accessed it, you agree to all terms and conditions contained or referenced in these Terms. These Terms apply only to your use of the Wefactoryou Site and do not change or alter any other agreement or contract between you and Wefactoryou. You agree that by registering on the Wefactoryou Site or using the Wefactoryou Services, you are entering into a legally binding agreement with Wefactoryou based on these Terms, and the Wefactoryou Privacy Policy which is hereby incorporated by reference.</p>
        
        <p>Please read these Terms carefully, as they may have changed since your last visit to the Wefactoryou Site and use of the Wefactoryou Services. Wefactoryou reserves the right, in its sole discretion, to modify or change these Terms at any time without prior notice to you. We may amend these Terms at any time by posting a revised version on the Wefactoryou Site, which will be effective at the time of posting. You are responsible for reviewing these Terms regularly and your continued access to and use of the Wefactoryou Services constitutes your consent to such amendments. These Terms will remain in effect after termination of your use of the Wefactoryou Site and Wefactoryou Services. If you do not accept these Terms, please do not access and use the Wefactoryou Site and Wefactoryou Services.</p>
        
        <br>
        
        <h4><strong>General Eligibility</strong></h4>
        
        <p>The Wefactoryou Site and the Wefactoryou Services are for use by commercial entities only. Individual consumers are not eligible to use the Wefactoryou Site and Wefactoryou Services. Wefactoryou does not sell or offer products for children. If you are under 18, you may not use this site. To be eligible to access and use the Wefactoryou Site and Wefactoryou Services, you must meet the following criteria and represent and warrant that you: (i) are acting on behalf of a US corporation, limited liability company, partnership, or a similar commercial entity; (ii) are the age of 18 or over; (iii) are not currently prohibited from accessing or using the Wefactoryou Site or Wefactoryou Services; (iv) have full power and authority to enter into these Terms on behalf of the commercial entity and doing so will not violate any other agreement to which you are a party; (v) will not violate any rights of Wefactoryou including, without limitation, intellectual property rights such as copyright or trademark rights; (vi) will not use the Wefactoryou Services for any consumer purpose; and (vii) agree to provide at your cost all equipment, software, and Internet and mobile service necessary to access and use the Wefactoryou Site and Wefactoryou Services.</p>
        
        <br>
        
        <h4><strong>Registration</strong></h4>
        
        <p>You may access the Wefactoryou Site as a visitor without registering with the Wefactoryou Site (“Visitor”). Visitors may view certain public sections of the Wefactoryou Site. If you are a representative of a commercial entity who complies with the eligibility criteria described above and hold authority to bind legally such entity, you may register with the Wefactoryou Site to become a registered user on behalf of the entity (“User”) to access an existing account, or to submit an online application to obtain accounts receivable funding. Once approved, designated authorized users at your company may access your account using a unique user name and password. It is your responsibility to notify Wefactoryou of any access changes or terminations.</p>
        
        <p>Users may access all public sections of the Wefactoryou Site available for general viewing and use the Wefactoryou Services, subject to additional terms and conditions that may apply to certain Wefactoryou Services. When you register, you create an account that is associated with your username, password, and other identifying information (“Wefactoryou Account”).</p>
        
        <p>By registering with the Wefactoryou Site, you agree to provide true, accurate, current, and complete information as prompted by the registration form. If any information provided by you is untrue, inaccurate, not current or incomplete, Wefactoryou may reject your registration, terminate your right to access and use the Wefactoryou Site and Wefactoryou Services, and take any and all other actions Wefactoryou considers appropriate including, without limitation, contacting law enforcement or applicable regulatory agencies.</p>
        
        <p>To gain access to certain features of our Site, we may ask you to provide certain personally identifiable information including your name, your home address, year of birth, and social security number. For more information, see the full Privacy Policy.</p>
        
        <br>
        
        <h4><strong>Termination</strong></h4>
        
        <p>You or Wefactoryou may at any time, for any or no reason, terminate your Wefactoryou Account and your right to access and use the Wefactoryou Site and Wefactoryou Services upon written notice; however, these Terms shall remain in effect after termination of your Wefactoryou Account for any reason.</p>
        
        <p>Notices from a User to Wefactoryou should be communicated by an authorized representative in writing by hand-delivery, national overnight delivery service, or electronic transmission established by Wefactoryou, however, any legal notice must also be made in writing.</p>
        
        <br>
        
        <h4><strong>Accessing Your Account</strong></h4>
        
        <p>You agree to: (i) keep your username and password secure and confidential; (ii) not permit others to use your Wefactoryou Account; (iii) refrain from using other Users’ Wefactoryou Accounts; (iv) refrain from selling, trading, or otherwise transferring your Wefactoryou Account to another party; (v) refrain from charging anyone for access to any portion of the Wefactoryou Site or the Wefactoryou Services. You agree to accept responsibility for all activities that occur under your account or password.</p>
        
        <p>We have taken reasonable steps to secure your information, though Wefactoryou cannot prevent interception of your information. You are responsible to maintain the security and confidentiality of your password. DO NOT SHARE YOUR PASSWORD WITH ANYONE. To maximize security of your password, you should choose your password carefully and you should avoid using something that someone may guess easily, such as your own or a family member’s name, birthdate, etc. You should memorize your password and not give it to anyone. You should also change your password frequently. Wefactoryou will NEVER ask you for your password. If you believe your password has been compromised or someone has made an unauthorized transaction on your account, change your password immediately and contact Wefactoryou.</p>
        
        <br>
        
        <h4><strong>Security and Identity Authentication</strong></h4>
        
        <p>You authorize Wefactoryou, directly or through third parties, to make any inquiries we consider necessary to confirm your identity. This may include asking you for further information, requiring you to provide a taxpayer identification number, geo-location and/or other identifying information, requiring you to take steps to confirm ownership of your email address or financial instruments, ordering a credit report, or verifying the information you submit to us against third-party databases or through other sources. You acknowledge that some of these sources may include methods that are implemented without your knowledge, and some sources may include methods that are performed as you use the Wefactoryou Site or Wefactoryou Services, such as the use of anti-virus and/or anti-fraud scanning technology.</p>
        
        <p>Wefactoryou reserves the right to monitor all network traffic to the Wefactoryou Site to identify and, as determined by Wefactoryou, block unauthorized attempts or intrusions to upload or change information or cause any damage to the Wefactoryou Site or Wefactoryou Services in any manner. Anyone accessing the Wefactoryou Site or Wefactoryou Services consents to such monitoring.</p>
        
        <p>You agree that the procedures provided for in these Terms (including the Wefactoryou Privacy Policy) to protect personal information and to verify the identity of Users constitute commercially reasonable website security and User verification procedures.</p>
        
        <br>
        
        <h4><strong>Execution of Instructions</strong></h4>
        
        <p>Login IDs and Passwords are under the control of the individual or individuals that you have authorized and designated. The Wefactoryou online system has been designed so that it may be operated only upon entry of a valid user name and password combination. Wefactoryou will therefore consider any access to the online system through use of valid Login ID’s and Passwords to be duly authorized, and Wefactoryou will carry out any instruction given regardless of the identity of the individual who is actually operating the system. You authorize Wefactoryou to treat any instruction made on the Wefactoryou online system with valid Login IDs and Passwords as if the instructions had been made in writing and signed by the appropriate authorized individual or individuals. Wefactoryou records regarding access by Login IDs and Passwords will be conclusive regarding any access to, or action taken through the Wefactoryou Online system. You accept responsibility for unauthorized access to the system by your employees, agents, representatives, associates, and/ or by your associated third parties, when made using login credentials assigned to you and your company and affiliates.</p>
        
        <ol type="1">
          <li>Ownership of Materials and Restrictions on Use</li>
          
          <p>The Wefactoryou Site includes data, design, text, software, audio, images, photographs, graphics, video, messages, files, software or other materials (collectively, the “Wefactoryou Site Content”). The Wefactoryou Site Content may include certain materials that may be owned by third parties or may comprise User Data and Content, as described below in the section entitled “User Data and Content.” The Wefactoryou Site Content may be subject to terms and conditions in addition to these Terms (“Third Party Terms”).</p>
          
          <p>The Wefactoryou Site Content is presented solely for the purpose of providing the Wefactoryou Services. Wefactoryou is the sole interpreter of the Wefactoryou Site’s intended and acceptable use and purpose. The Wefactoryou Site may be reproduced or transmitted only as provided in these Terms or with the express written consent of Wefactoryou.</p>
          
          <p>Wefactoryou grants permitted Users a revocable, non-transferable, non-exclusive license, with no right to sublicense, to access and view, display, print (in the case of text and graphics) and listen to on the Wefactoryou Site Content for the permitted uses and purposes described herein, subject to the following conditions and the specific software license provided below:</p>
          
          <ol type="a">
            <li>You may not modify, reproduce or distribute Wefactoryou Site Content or Wefactoryou Services.</li>
            <li>You may not remove from the Wefactoryou Site Content any copyright, trademark, and other proprietary notices.</li>
            <li>You must comply with all additional terms and conditions, including, without limitation, Third Party Terms that apply to the Wefactoryou Site Content.</li>
          </ol>
          
          <p>Nothing contained on the Wefactoryou Site should be construed as granting, by implication, estoppel, or otherwise, any license or right to use the Wefactoryou Site or any Wefactoryou Site Content made available on the Wefactoryou Site, through the use of framing, “deep linking,” use of a “robot,” “bot,” “spider”, “data mining” or similar automated method, or otherwise, except: (i) as expressly permitted by these Terms; or (ii) with the prior written permission of Wefactoryou or such third party that may own the trademark or copyright of the relevant material displayed on the Wefactoryou Site. This restriction does not apply to robots, bots, spiders or other similar automated methods to index the public content of the Wefactoryou Site for use in connection with leading search engines and Internet directories.</p>
        </ol>
        
        <br>
        
        <h4><strong>Prohibited Activities</strong></h4>
        
        <p>You may not use the Wefactoryou Site or Wefactoryou Services to:(i) violate any law or engage in transactions that involve any illegal activity or the planning of any illegal activity; (ii) create a false identity or otherwise attempt to mislead any person as to the identity or origin of any communication; (iii) interfere with, disrupt or attempt to gain unauthorized access to other accounts on the Wefactoryou Site or any other computer network; (iv) disseminate or transmit viruses, worms, Trojan horses, or any other malicious or invasive code or program; or (v) engage in any other activity deemed by Wefactoryou to be in conflict with the spirit or intent of the Wefactoryou Site or Wefactoryou Services.</p>
        
        <p>Information Privacy</p>
        
        <p>The Privacy Policy specifies how Wefactoryou collects, stores, uses and shares the personal information of the Users of the Wefactoryou Site. For more information, see the full Privacy Policy.</p>
        
        <br>
        
        <h4><strong>User Data and Content</strong></h4>
        
        <p>Each User is solely responsible for all data, text, software, audio, images, photographs, graphics, video, messages, files, or other materials that are transmitted, posted, processed, distributed, or otherwise made available by such User on or in connection with the Wefactoryou Site (“User Data and Content”). Some of our services require you to upload, submit, send and store User Data and Content. When you upload, submit, store, or send content to us, you hereby grant Wefactoryou a perpetual, worldwide, fully transferable, irrevocable, royalty-free license to use, reproduce, modify, create derivative works from, distribute and display the User Data and Content in any manner and for any purpose. You represent and warrant that you have sufficient rights in the User Data and Content to grant such license and make such submission.</p>
        
        <p>You agree to submit User Data and Content for only those purposes permitted by Wefactoryou and not to infringe in any way or violate any copyright, intellectual property right of any third party or violate any law. You also agree that you are not permitted to submit or otherwise transmit any User Data and Content that contains a virus or other harmful code or device. You may not use the Wefactoryou Site to transmit or otherwise facilitate the transmission of spam or other multiple mailings.</p>
        
        <br>
        
        <h4><strong>Wefactoryou Site Content</strong></h4>
        
        <p>You acknowledge that Wefactoryou is not responsible for User Data and Content submitted to the Wefactoryou Site by Users. Although Wefactoryou does not review, monitor or edit the User Data and Content, Wefactoryou and its designees reserve the right at their sole discretion, but are not obligated, to refuse or remove any User Data and Content, in whole or part, for any reason. Wefactoryou is not responsible for any removal of User Data and Content or failure or delay in removing User Data and Content.</p>
        
        <p>By using the Wefactoryou Site you understand and agree that you may be exposed to User Data and Content posted by other Users that you may find to be inaccurate, offensive, indecent or objectionable in some way. Under no circumstances will Wefactoryou be liable in any way for any User Data and Content including, but not limited to, liability for any errors or omissions in any User Data and Content or for any loss or damage of any kind incurred as a result of the use of any User Data and Content posted, emailed or otherwise transmitted via the Wefactoryou Site or Wefactoryou Services.</p>
        
        <br>
        
        <h4><strong>Modifications to the Wefactoryou Site</strong></h4>
        
        <p>Wefactoryou reserves the right at all times to modify or discontinue, temporarily or permanently, the Wefactoryou Site and Wefactoryou Services, or any part of the Wefactoryou Site and Wefactoryou Services, with or without notice and without cost. Furthermore, the Wefactoryou Site and Wefactoryou Services may become unavailable due to suspension of the Internet, or maintenance or malfunction of computer equipment or other reasons. You agree that Wefactoryou will not be liable to you or to any third party for any modification, suspension, malfunction, or discontinuance of the Wefactoryou Site and Wefactoryou Services.</p>
        
        <br>
        
        <h4><strong>Indemnification</strong></h4>
        
        <p>By using the Wefactoryou Site and Wefactoryou Services, you agree to defend, indemnify and hold Wefactoryou and its affiliates, officers, directors, employees, representatives, successors and assigns, harmless from any and all claims, damages, losses, liabilities, costs and expenses, including reasonable attorneys’ fees, arising in any way from (i) access, use or misuse of the Wefactoryou Site or Wefactoryou Services including, without limitation, the uploading, posting, publishing, emailing, reproduction, distribution, or transmission of any Wefactoryou Site Content (including, without limitation, all User Data and Content) or other materials by you, your agents, representatives, officers, contractors, or employees; (ii) any products or services made available by you, your agents, representatives, officers, contractors, or employees, or any dispute between you and any other User or third party; (iii) actual or alleged breach of these Terms by you, your agents, representatives, officers, contractors, or employees; or (iv) acts or omissions by you, your agents, representatives, officers, or employees, including, without limitation, those resulting in injuries and property damage. Wefactoryou reserves the right, at its own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will cooperate with Wefactoryou in asserting any available defense.</p>
        
        <br>
        
        <h4><strong>Linked Third-Party Sites</strong></h4>
        
        <p>You may be able to link to or otherwise access third parties’ websites (“Linked Third-Party Sites”) from the Wefactoryou Site. Linked Third Party-Sites are not, however, reviewed, controlled, or examined by Wefactoryou in any way, and Wefactoryou is not responsible for the content, privacy policy, availability, advertising, products, or other materials of any such Linked Third-Party Sites. Therefore, Wefactoryou does not endorse or accept responsibility for the content on Linked Third-Party Sites. In no event shall Wefactoryou be liable to anyone for any loss or damage caused by or in connection with use of the Linked Third-Party Site or the information or material accessed through the Linked Third-Party Site. Wefactoryou reserves the right, at its sole discretion, to remove, without notice, any link(s) to any of the Linked Third-Party Sites from the Wefactoryou Site.</p>
        
        <br>
        
        <h4><strong>Legal Compliance and Prohibited Use</strong></h4>
        
        <p>You are prohibited from using the Wefactoryou Site and Wefactoryou Services in any manner that would violate any law, rule, or regulation in any jurisdiction. Some parts of this website may require authorization for access. Unauthorized access to these areas is prohibited and may result in criminal and civil prosecution. We may view, monitor and record any such attempts to access unauthorized areas and may provide such information as necessary to law enforcement personnel. You agree to immediately notify Wefactoryou of any unauthorized use of the Wefactoryou Site of which you know or suspect. You agree that any violation of these Terms may result in termination of your registration, includin1g, without limitation, your privileges as a User on the Wefactoryou Site, and legal action may also be taken against you.</p>
        
        <p>Wefactoryou prohibits the harvesting or collection of the e-mail addresses of Wefactoryou employees and representatives from the Wefactoryou Site to be used in violation of the CAN-SPAM act. Wefactoryou reserves the right to take all legal actions available, including civil and criminal prosecution, to prevent violation of these Terms.</p>
        
        <br>
        
        <h4><strong>Disclaimer of Warranties</strong></h4>
        
        <p>Wefactoryou SITE CONTENT INCLUDING, WITHOUT LIMITATION, ALL USER CONTENT, AND THE Wefactoryou SERVICES ARE PROVIDED “AS IS.” SPECIFICALLY, BUT WITHOUT LIMITATION, Wefactoryou DOES NOT WARRANT THAT: (i) THE Wefactoryou SITE CONTENT, Wefactoryou SERVICES AND/OR ANY USER DATA AND CONTENT IS CORRECT, ACCURATE, RELIABLE, OR COMPLETE; (ii) THE FUNCTIONS CONTAINED ON THE Wefactoryou SITE WILL BE UNINTERRUPTED OR ERROR-FREE; (iii) DEFECTS WILL BE CORRECTED; OR (iv) THE Wefactoryou SITE OR THE SERVER(S) THAT MAKE EACH AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS SUCH AS MALWARE. Wefactoryou DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, WITH RESPECT TO THE Wefactoryou SITE CONTENT AND Wefactoryou SERVICES INCLUDING, WITHOUT LIMITATION, ALL USER DATA AND CONTENT PROVIDED ON THE Wefactoryou SITE, AND Wefactoryou DISCLAIMS ALL IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.</p>
        
        <br>
        
        <h4><strong>Limitation of Liability</strong></h4>
        
        <p>TO THE MAXIMUM EXTENT PERMITTED UNDER LAW, UNDER NO CIRCUMSTANCES SHALL Wefactoryou BE LIABLE FOR ANY INCIDENTAL, SPECIAL, CONSEQUENTIAL, EXEMPLARY, PUNITIVE, MULTIPLE OR OTHER INDIRECT DAMAGES THAT RESULT FROM THE USE OF, OR THE INABILITY TO USE, THE Wefactoryou SITE, THE Wefactoryou SITE CONTENT (INCLUDING, WITHOUT LIMITATION, THE USER DATA AND CONTENT) AND/OR THE Wefactoryou SERVICES, EVEN IF Wefactoryou HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
        
        <p>IN NO EVENT SHALL Wefactoryou’S TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES, AND CAUSES OF ACTION RESULTING FROM YOUR USE OF THE Wefactoryou SITE AND Wefactoryou SERVICES, WHETHER IN CONTRACT, TORT (INCLUDING, BUT NOT LIMITED TO, NEGLIGENCE) OR OTHERWISE, EXCEED THE AMOUNT PAID BY YOU TO Wefactoryou FOR THE Wefactoryou SERVICES DURING THE ONE (1) MONTH IMMEDIATELY PRECEDING THE EVENT GIVING RISE TO SUCH LIABILITY, OR, IF GREATER, THE LOWEST AMOUNT PERMITTED UNDER APPLICABLE LAW.</p>
        
        <br>
        
        <h4><strong>Copyrights and Copyright Agent</strong></h4>
        
        <p>All content, including trade dress on this Site is the copyrighted property of Wefactoryou or its content providers. All rights reserved. The information and images presented here may not under any circumstances be reproduced or used without prior written permission of Wefactoryou or the content provider.</p>
        
        <p>If you believe any materials accessible on or from the Wefactoryou Site infringe your copyright, you may request removal of those materials (or access thereto) from the Wefactoryou Site by contacting Wefactoryou’s copyright agent (identified below) and providing the following information:</p>
        
        <ol type="a">
          <li>Identification of the copyrighted work that you believe to be infringed. Please describe the work, and where possible include a copy or the location (e.g., URL) of an authorized version of the work.</li>
          <li>Please provide us with the location of the material Including, where possible, it’s URL or any other pertinent information that will allow us to locate the material.</li>
          <li>Your name, address, telephone number, and (if available) email address.</li>
          <li>A statement that you have a good faith belief that the complained-of use of the materials is not authorized by the copyright owner, its agent, or the law.</li>
          <li>A statement that the information that you have supplied is accurate, and indicating that “under penalty of perjury,” you are the copyright owner or are authorized to act on behalf of the copyright owner.</li>
          <li>A signature or the electronic equivalent from the copyright holder or authorized representative.</li>
        </ol>
        
        <p>The address for Wefactoryou’s agent for copyright issues relating to the Wefactoryou Site is as follows:</p>
        
        <div>Wefactoryou Funding Group, L.C.</div>
        <div>Attn: Legal</div>
        <div>2600 Lucien Way, Suite 100</div>
        <div>Maitland, FL 32751</div>
        <div>Email: legal@wefactoryou.com</div>
        
        <br>
        
        <h4><strong>Jurisdiction and Enforcement</strong></h4>
        
        <p>These Terms are governed by and interpreted under the laws of the State of Florida, United States of America, notwithstanding any principles of conflicts of law.</p>
        
        <p>All disputes arising out of or relating to these Terms shall be finally resolved by arbitration conducted in the English language in Orlando, Florida, under the commercial arbitration rules of the American Arbitration Association. The parties shall appoint as sole arbitrator a retired judge who presided in the State of Florida. The parties shall initially bear equally the cost of the arbitration (except that the prevailing party shall be entitled to an award of reasonable attorneys’ fees incurred in connection with the arbitration as well as such costs and expenses incurred by the prevailing party prior to, during and after arbitration including the prevailing party’s initial arbitration costs, in such an amount as may be determined by the arbitrator). The parties agree that any such arbitration and all documents disclosed in connection therewith will not be disclosed beyond the arbitrator, except as may be compelled by regulatory authorities or applicable law. All decisions of the arbitrator shall be final and binding on both parties and enforceable in any court of competent jurisdiction. Notwithstanding this, application may be made to any court for a judicial acceptance of the award or order of enforcement and Wefactoryou shall be entitled to seek injunctive relief or other equitable remedies from any court of competent jurisdiction.</p>
        
        <p>If any part of these terms is unlawful, void, or unenforceable, that part will be deemed severable and will not affect the validity and enforceability of the remaining provisions. We do not represent or warrant that materials on this Site are appropriate for use outside of the United States of America.</p>
        
        <br>
        
        <h4><strong>Release of Wefactoryou</strong></h4>
        
        <p>If you have a dispute with one or more Users, you release Wefactoryou and its affiliates, officers, directors, employees, representatives, successors and assigns, from any and all claims, demands and damages of every kind and nature arising out of or in any way connected with such dispute.</p>
        
        <br>
        
        <h4><strong>Electronic Communications Delivery Policy</strong>
        </h4>
        
        <p>You agree that Wefactoryou may provide all notices and other communications electronically including, but not limited to, service updates and amendments to these Terms. We may make these communications available by means of posts to the Wefactoryou Site, messages to your Wefactoryou Account inbox and/or email account, and/or messages to your mobile device, among other means. You will need a computer (or mobile device) web browser and printer to access and print such electronic communications. We reserve the right to prohibit your access and use of the Wefactoryou Site and Wefactoryou Services if you withdraw your consent to receive electronic communications. Any electronic communications will be considered to be received by you within twenty-four (24) hours of the time we post it to the Site or electronically transmit it to you. Any communications sent to you by postal mail will be considered to be received by you five (5) business days after being sent.</p>
        
        <br>
        
        <h4><strong>Assignment</strong></h4>
        
        <p>You shall not transfer, assign, sublicense nor pledge in any manner whatsoever, any of your rights or obligations under these Terms. All such attempted transfers, assignments, sublicenses or pledges are void.</p>
        
        <p>For Additional Information or Notices</p>
        
        <p>If you have any questions about these Terms, please contact Wefactoryou in writing at the following address:</p>
        
        <div>Wefactoryou Funding Group, L.C.</div>
        <div>Attn: Legal</div>
        <div>2600 Lucien Way, Suite 100</div>
        <div>Maitland, FL 32751</div>
        
        <br>
        
        <div>LAST UPDATED: JULY 16, 2018</div>
        
      </div>
    </div>
  </div>
</div>